<div>
    <ol>
        <li>
            <button id="esp-btn">
                Banderita de españita
            </button>
            <div>
                <input type="checkbox" id="option-1" name="fav_language" value="option-1">
                <label for="option-1">Opcion 1 esp</label>
            </div>
            <div>
                <input type="checkbox" id="option-1" name="fav_language" value="option-1">
                <label for="option-1">Opcion 2 esp</label>
            </div>
        </li>

        <li>
            <button id="esp-btn">
                Banderita de españita
            </button>
            <div>
                <input type="checkbox" id="option-1" name="fav_language" value="option-1">
                <label for="option-1">Opcion 1 eng</label>
            </div>
            <div>
                <input type="checkbox" id="option-1" name="fav_language" value="option-1">
                <label for="option-1">Opcion 2 eng</label>
            </div>
        </li>
    </ol>
</div>