.page {
  display: flex;
  flex-flow: column;
}

.header {
  height: 150px;

}

.headerContainer {
  position: fixed;
  width: 100%;
  background: url(../assets/img/palma.webp);
  background-position: 50% 10%;
  background-attachment: contain;
  background-size: cover;
  color: #fff
}

app-language-bar {
  display: flex;
}

section {
  display: flex;
  width: 100%;
}

.content {
  width: 75%;
}

.aside {
  position: fixed;
  right: 0px;
  top: 150px;
  width: 25%;
}





