<!--<ol>
  <li *ngFor="let new of news">
    <a href={{new.url}}>
      <h1 class="title">{{new.title}}</h1>
      <section class="section">{{new.section}}</section>
      <section class="date">{{new.date | date: 'shortDate'}}</section>
    </a>
  </li>
</ol>-->

<div *ngIf = "news!=null; else wait">
  <table border = "1">
    <tr>
      <td>TITLE</td>
      <td>SECTION</td>
      <td>DATE</td>
      <td>URL</td>
    </tr>
    <tr *ngFor = "let new of news">
      <td>{{ new.title }}</td>
    </tr>
  </table>
</div>

<ng-template #wait>Cargando datos...</ng-template>
